.formation {
    content:url("../assets/img/formation.jpg");
    height: 70%;
    width: 100%;
    margin-top: 10px;
}

#attitude {
    width: 170px;
}

#pressure {
    width: 170px;
}

#formation {
    width: 170px;
}

.button {
    width: 100%;
    background-color: #7ebc83;
    padding: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.formationImage{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.formationContent{
    position: absolute;
    top: 0;
    left: 0;
    height: 570px;
}

.forwards {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20%;
}

select {
    margin-right: 1%;
    margin-left: 1%;
    font-size: 13px;
}

.forwards select {
    width: 125px;
}

.topMid {
    margin-left: 0;
    margin-right: 0;
    margin-top: 25%;
}

.topMid select{
    width: 130px;
}

.mid {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5%;
}

.mid select{
    width: 23%;
}

.lowMid {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5%;
}

.lowMid select{
    width: 130px;
}

.backs {
    margin-left: 0;
    margin-right: 0;
    margin-top: 25%;
}

.backs select {
    width: 30%;
}

.backsCenter select {
    margin-left: 0px;
    width: 30%;
}

.backsCenter {
    margin-top: 5%;
}

.goalKeeper {
    position: absolute;
    margin-top: 120%;
    width: 100%;
    margin-left: 0;
    top: 0;
    left: 0;
}

.button:hover {
    background-color: #037c1e;
    color: black;
}

thead th {
    background-color: #7ebc83;
}

