body {
    background-image: url("../img/soccerField.jpg");
}

.contain {
    margin: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.5%;
    position:relative;
    height: 87%;
}

.translucent {
    position:absolute;
    top : 0;
    bottom:0;
    left:0;
    width:100%;
    background-color:white;
    opacity: 0.9;
    -moz-opacity: 0.3;
    filter:alpha(opacity=30);
}
.content {
    position: relative;
    width:100%;
}