.navbar{
    margin-bottom: 1.5%;
}

.contain {
    margin: 2%;
}

.player {
    background-color: darkseagreen;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-light {
    width: 100px;
}

thead th {
    background-color: darkseagreen;
}

