<link rel="stylesheet" href="assets/css/home.css"/>
<link rel="stylesheet" href="assets/css/formation.css"/>

<div class="animated fadeIn p-3">
  <div class="row">
    <div class="col-6">

      <div class="card">
        <div class="card-header">
          <div class="stat-widget-one">
            <div class="stat-icon dib"><i class="ti-clipboard text-info border-info"></i></div>
            <div class="stat-content dib">
              <div class="team-name">{{TACTICS}}</div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="weather-category twt-category m-0 p-0">
            <ul class="m-0">
              <li>
                <h5>{{formation.formation}}</h5>
                {{FORMATION}}
              </li>
              <li>
                <h5>{{formation.pressure}}</h5>
                {{PRESSURE}}
              </li>
              <li>
                <h5>{{formation.attitude}}</h5>
                {{ATTITUDE}}
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-6">

      <div class="card">
        <div class="card-header">
          <strong class="card-title">{{PLAYERS}}</strong>
        </div>
        <div class="bigger-card-body">
          <table class="table table-hover bg-white small table-sm">
            <thead>
            <tr>
              <th scope="col">{{NAME}}</th>
              <th scope="col">{{FITNESS}}</th>
              <th scope="col">{{SKILL}}</th>
              <th scope="col">{{GOALKEEPING}}</th>
              <th scope="col">{{FINISHING}}</th>
              <th scope="col">{{CRITERIADEFENSE}}</th>
              <th scope="col">{{PASSING}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in players">
              <td>{{player.name}}</td>
              <td>{{player.fitness}}</td>
              <td>{{player.skillLevel}}</td>
              <td>{{player.goalkeeping}}</td>
              <td>{{player.finishing}}</td>
              <td>{{player.defense}}</td>
              <td>{{player.passing}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div class="col-6">

      <div class="card">
        <div class="card-header">
          <strong class="card-title">{{FORMATION}}</strong>
        </div>
        <div class="card-body">
          <div style="position: relative; left: 0; top: 0;">
            <img src="assets/img/soccerField.jpg"  class="formationImage"/>

            <form modelAttribute="formationForm" id="form">

              <div class="formationContent">
                <!--Delanteros-->
                <div class="row forwards d-flex justify-content-center">

                  <select ng-options="player as player.name for player in frontPlayers track by player.id"
                          ng-hide="formation.formation == '352' || formation.formation == '442'
                              || formation.formation == '451' || formation.formation == '532'
                              || formation.formation == '541'"
                          ng-model="formation.lw"
                          ng-change="updateOccupiedPlayers()">
                  </select>

                  <select ng-options="player as player.name for player in frontPlayers track by player.id"
                          ng-hide="formation.formation == '343' || formation.formation == '433' ||
                              formation.formation == '451' || formation.formation == '523'||
                              formation.formation == '541'"
                          ng-model="formation.lf"
                          ng-change="updateOccupiedPlayers()">
                  </select>

                  <select ng-options="player as player.name for player in frontPlayers track by player.id"
                          ng-hide="formation.formation == '352' || formation.formation == '442'
                              || formation.formation == '532'"
                          ng-model="formation.st"
                          ng-change="updateOccupiedPlayers()">
                  </select>
                </div>

                <div class="row lowForwards d-flex justify-content-center">

                  <select ng-options="player as player.name for player in frontPlayers track by player.id"
                            ng-hide="formation.formation == '343' || formation.formation == '433'
                                || formation.formation == '451' || formation.formation == '523'
                                || formation.formation == '541'"
                            ng-model="formation.rf"
                            ng-change="updateOccupiedPlayers()">
                    </select>

                    <select ng-options="player as player.name for player in frontPlayers track by player.id"
                            ng-hide="formation.formation == '352' || formation.formation == '442'
                                || formation.formation == '451' || formation.formation == '532'
                                || formation.formation == '541'"
                            ng-model="formation.rw"
                            ng-change="updateOccupiedPlayers()">
                    </select>
                </div>

                <!--Volantes -->
                <div class="row topMid d-flex justify-content-center">

                  <select ng-options="player as player.name for player in wingPlayers track by player.id"
                          ng-hide="formation.formation == '343' || formation.formation == '433' ||
                              formation.formation == '442' || formation.formation == '523' || formation.formation == '541'"
                          ng-model="formation.cam"
                          ng-change="updateOccupiedPlayers()">
                  </select>

                </div>

                <div class="row mid d-flex justify-content-center">

                  <select ng-options="player as player.name for player in wingPlayers track by player.id"
                          ng-hide="formation.formation == '433' || formation.formation == '532'
                              || formation.formation == '523'"
                          ng-model="formation.lm"
                          ng-change="updateOccupiedPlayers()">
                  </select>

                  <select ng-options="player as player.name for player in wingPlayers track by player.id"
                          ng-model="formation.lcm"
                          ng-change="updateOccupiedPlayers()">
                  </select>

                  <select ng-options="player as player.name for player in wingPlayers track by player.id"
                          ng-model="formation.rcm"
                          ng-change="updateOccupiedPlayers()">
                  </select>

                  <select ng-options="player as player.name for player in wingPlayers track by player.id"
                          ng-hide="formation.formation == '433' || formation.formation == '532'
                              || formation.formation == '523'"
                          ng-model="formation.rm"
                          ng-change="updateOccupiedPlayers()">
                  </select>

                </div>
                <div class="row lowMid d-flex justify-content-center">

                  <select ng-options="player as player.name for player in wingPlayers track by player.id"
                          ng-hide="formation.formation == '343' || formation.formation == '352'
                              || formation.formation == '442' || formation.formation == '451'
                              || formation.formation == '532' || formation.formation == '523'
                              || formation.formation == '541'"
                          ng-model="formation.cdm"
                          ng-change="updateOccupiedPlayers()">
                  </select>

                </div>

                <!--Defensores-->
                <div class="row backs d-flex justify-content-between">

                  <select ng-options="player as player.name for player in backPlayers track by player.id"
                          ng-hide="formation.formation == '343' || formation.formation == '352'"
                          ng-model="formation.lb"
                          ng-change="updateOccupiedPlayers()">
                  </select>

                  <select ng-options="player as player.name for player in backPlayers track by player.id"
                          ng-hide="formation.formation == '343' || formation.formation == '352'"
                          ng-model="formation.rb"
                          ng-change="updateOccupiedPlayers()">
                  </select>

                </div>
                <div class="row backsCenter d-flex justify-content-center">

                  <select ng-options="player as player.name for player in backPlayers track by player.id"
                          ng-model="formation.lcb"
                          ng-change="updateOccupiedPlayers()">
                  </select>

                  <select ng-options="player as player.name for player in backPlayers track by player.id"
                          ng-hide="formation.formation == '433' || formation.formation == '442'
                              || formation.formation == '451'"
                          ng-model="formation.cb"
                          ng-change="updateOccupiedPlayers()">
                  </select>

                  <select ng-options="player as player.name for player in backPlayers track by player.id"
                          ng-model="formation.rcb"
                          ng-change="updateOccupiedPlayers()">
                  </select>
                </div>

                <!--Arquero-->
                <div class="row goalKeeper d-flex justify-content-center">
                  <div class="col-4">
                    <select ng-options="player as player.name for player in goalKeepers track by player.id"
                            ng-model="formation.gk"
                            ng-change="updateOccupiedPlayers()">
                    </select>
                  </div>
                </div>
              </div>

              <ul class="list-group list-group-flush">

                <button type="button" class="btn btn-light list-group-item" data-toggle="collapse" data-target="#formationScheme"
                        aria-expanded="false" aria-controls="substitutes" ng-click="formationIsClosed = !formationIsClosed">
                  {{FORMATION}} <i ng-class="{'fa fa-angle-down': !formationIsClosed, 'fa fa-angle-up': formationIsClosed}"></i>
                </button>

                <!--Formation number-->
                <div class="collapse" id="formationScheme">
                  <ul class="list-group list-group-flush">

                    <li class="list-group-item">
                      {{FORMATIONSCHEME}}
                      <span class="pull-right">
                        <select ng-options="formation for formation in formation.options"
                                ng-model="formation.formation" ng-change="updateFormationScheme()">
                        </select>
                      </span>
                    </li>

                    <li class="list-group-item">
                      {{PRESSURE}}
                      <span class="pull-right">
                        <select ng-options="pressure for pressure in formation.possiblePressures"
                                ng-model="formation.pressure">
                        </select>
                      </span>
                    </li>

                    <li class="list-group-item">
                      {{ATTITUDE}}
                      <span class="pull-right">
                        <select ng-options="attitude for attitude in formation.possibleAttitudes"
                                ng-model="formation.attitude">
                        </select>
                      </span>
                    </li>

                  </ul>

                </div>

                <button type="button" class="btn btn-light list-group-item" data-toggle="collapse" data-target="#substitutes"
                        aria-expanded="false" aria-controls="substitutes" ng-click="substitutesIsClosed = !substitutesIsClosed">
                  {{SUBSTITUTES}} <i ng-class="{'fa fa-angle-down': substitutesIsClosed, 'fa fa-angle-up': !substitutesIsClosed}"></i>
                </button>

                <!--Suplentes-->
                <div class="collapse" id="substitutes">

                  <ul class="list-group list-group-flush">

                    <li class="list-group-item">
                      <div class="col-6">
                        <select class="full-width" ng-options="player as player.name for player in players track by player.id"
                                ng-model="formation.substitutes[0]">
                        </select>
                      </div>
                      <div class="col-6">
                          <select ng-options="player as player.name for player in players track by player.id"
                                  ng-model="formation.substitutes[1]">
                          </select>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="col-6">
                        <select ng-options="player as player.name for player in players track by player.id"
                              ng-model="formation.substitutes[2]">
                        </select>
                      </div>
                      <div class="col-6">
                        <select ng-options="player as player.name for player in players track by player.id"
                                ng-model="formation.substitutes[3]">
                        </select>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="col-6">
                        <select ng-options="player as player.name for player in players track by player.id"
                                ng-model="formation.substitutes[4]">
                        </select>
                      </div>
                      <div class="col-6">
                        <select ng-options="player as player.name for player in players track by player.id"
                                ng-model="formation.substitutes[5]">
                        </select>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="col-6">
                        <select ng-options="player as player.name for player in players track by player.id"
                                ng-model="formation.substitutes[6]">
                        </select>
                      </div>
                    </li>

                </div>

                <button type="button" class="btn btn-light list-group-item" data-toggle="collapse" data-target="#roles"
                        aria-expanded="false" aria-controls="roles" ng-click="rolesIsClosed = !rolesIsClosed">
                  {{ROLES}} <i ng-class="{'fa fa-angle-down': rolesIsClosed, 'fa fa-angle-up': !rolesIsClosed}"></i>
                </button>

                <div class="collapse" id="roles">
                  <ul class="list-group list-group-flush">

                    <li class="list-group-item">
                      {{CAPTAIN}}
                      <span class="pull-right">
                        <select ng-options="player as player.name for player in occupiedPlayers track by player.id"
                                ng-model="formation.captain">
                        </select>
                      </span>
                    </li>

                    <li class="list-group-item">
                      {{FREEKICKTAKER}}
                      <span class="pull-right">
                        <select ng-options="player as player.name for player in occupiedPlayers track by player.id"
                                ng-model="formation.freeKickTaker">
                        </select>
                      </span>
                    </li>

                    <li class="list-group-item">
                      {{PENALTYTAKER}}
                      <span class="pull-right">
                        <select ng-options="player as player.name for player in occupiedPlayers track by player.id"
                                ng-model="formation.penaltyTaker">
                        </select>
                      </span>
                    </li>

                  </ul>
                </div>

                <li class="list-group-item">
                   <span class="pull-right">
                     <input type="submit" value="{{SAVE}}" ng-click="saveFormation()" class="btn btn-success" id="submit"/>
                   </span>
                </li>

              </ul>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
