
<link rel="stylesheet" href="/assets/css/home.css"/>
<link rel="stylesheet" href="/assets/css/match.css">
<link rel="stylesheet" href="/assets/css/league.css"/>

<div class="animated fadeIn p-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <div class="stat-widget-one">
            <div class="stat-icon dib"><i class="ti-cup text-warning border-warning"></i></div>
            <div class="stat-content dib">
              <div class="team-name">{{league.name}}</div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="weather-category twt-category m-0 p-0">
            <ul class="m-0">
              <li>
                <h5>{{matchesPlayed}}</h5>
                <spring:message code="matchesPlayed"/>
              </li>
              <li>
                <h5>{{matchesToPlay}}</h5>
                <spring:message code="matchesToPlay"/>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <strong class="card-title"><spring:message code="upcomingMatches"/></strong>
        </div>
        <div class="card-body">
          <table class="table bg-white small center header-fixed">
            <thead>
            <tr>
              <th scope="col" class="match-stadium"><spring:message code="stadium"/></th>
              <th scope="col" class="match-home"><spring:message code="home"/></th>
              <th scope="col" class="match-away"><spring:message code="away"/></th>
            </tr>
            </thead>

            <tbody>
              <tr ng-repeat="match in upcomingMatches">
                <td class="match-stadium">{{match.stadium}}</td>
                <td class="match-home">{{match.homeTeam.name}}</td>
                <td class="match-away">{{match.awayTeam.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <strong class="card-title"><spring:message code="positionTable"/></strong>
        </div>
        <div class="card-body">
          <table class="table bg-white small center header-fixed">
            <thead>
            <tr>
              <th scope="col" class="match-position"><spring:message code="position"/></th>
              <th scope="col" class="match-team"><spring:message code="team"/></th>
              <th scope="col" class="match-points"><spring:message code="points"/></th>
            </tr>
            </thead>

            <tbody>
              <tr ng-repeat="team in teams">
                <th scope="row" class="match-position">{{$index}}</th>
                <td class="match-team">{{team.name}}</td>
                <td class="match-points">{{team.points}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
