<link rel="stylesheet" href="assets/css/register.css"/>
<link rel="stylesheet" href="assets/css/error.css"/>

<div class="sufee-login d-flex align-content-center flex-wrap">
  <div class="container">
    <div class="login-content">
      <div class="login-logo">
        <span class="align-content">{{APPNAME}}</span>
      </div>
      <div class="login-form">
        <form enctype="application/x-www-form-urlencoded">
          <div class="form-group">
            <label for="username">{{USERNAME}}</label>
            <input id="username" ng-model="user.username" type="text" class="form-control" placeholder="{{username}}"/>
            <p class="error">{{usernameError}}</p>
          </div>
          <div class="form-group">
            <label for="password">{{PASSWORD}}</label>
            <input id="password" ng-model="user.password" type="password" class="form-control" placeholder="{{password}}"/>
            <p class="error">{{passwordError}}</p>
            <p class="error">{{errorLogIn}}</p>
<!--          </div>-->
<!--          <div class="error">-->
<!--            -->
<!--          </div>-->
          <div class="checkbox">
            <label>
              <input ng-model="rememberMe" type="checkbox"/>{{REMEMBER_ME}}
            </label>
          </div>
          <div class="alert alert-danger" role="alert" id="error">
            {{errorLogIn}}
          </div>

          <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" ng-click="login()">{{SIGNIN}}</button>

          <div class="register-link m-t-15 text-center">
            <p>{{DONTHAVEACCOUNT}}<a ng-href="signUp">{{SIGNUP}}</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="assets/js/login.js"></script>
