<link rel="stylesheet" href="../assetsss/background.css">
<link rel="stylesheet" href="../assetsss/match.css"/>


<!--<span hidden id="dataURL"><c:url value="/matchData"/></span>-->
<!--<span hidden id="matchEndURL"><c:url value="/matchEnd"/></span>-->

<div class="p-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col text-md-right" id="time">
            </div>
            <div class="col-3">
              <div class="progress">
                <div class="progress-bar green" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                     aria-valuemax="90"></div>
              </div>
            </div>
          </div>

          <p hidden id="goalScored">Goal scored</p>
          <p hidden id="yellowCard">Yellow card</p>
          <p hidden id="redCard">Red card</p>

          <table class="table bg-white table-striped header-fixed">
            <thead class="green">
            <tr>
              <th scope="col" class="width15">Stadium</th>
              <th scope="col" class="width20">Home</th>
              <th scope="col" colspan="2" class="width10">Score</th>
              <th scope="col" class="width20">Away</th>
              <th scope="col" class="width35">Events</th>
            </tr>
            </thead>

            <tbody>
              <tr ng-repeat="match in matches" id="{{match.id}}">
                <td class="width15">{{match.stadium}}</td>
                <td class="width20">{{match.homeTeam}}</td>
                 
                <td class="width5" id="{{match.id}}homeScore">0</td>
                 
                <td class="width5" id="{{match.id}}awayScore">0</td>
                <td class="width20">{{match.awayTeam}}</td>
                 
                <td class="width35" id="{{match.id}}event"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

