<link rel="stylesheet" href="../assets/css/background.css">
<link rel="stylesheet" href="../assets/css/match.css"/>

<div class="p-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col text-md-right" id="time">
            </div>
            <div class="col-3">
              <div class="progress">
                <div class="progress-bar green" role="progressbar" style="width:{{progress}}%" aria-valuemin="0"
                   aria-valuemax="90"></div>
              </div>
            </div>
            <div class="col-1 text-md-center">
              {{time}}'
            </div>
          </div>

          <p hidden id="goalScored">Goal scored</p>
          <p hidden id="yellowCard">Yellow card</p>
          <p hidden id="redCard">Red card</p>

          <table class="table bg-white table-striped header-fixed">
            <thead class="green">
            <tr>
              <th scope="col" class="width15">{{STADIUM}}</th>
              <th scope="col" class="width20">{{HOME}}</th>
              <th scope="col" colspan="2" class="width10">{{SCORE}}</th>
              <th scope="col" class="width20">{{AWAY}}</th>
              <th scope="col" class="width35">{{EVENTS}}</th>
            </tr>
            </thead>

            <tbody>
              <tr ng-repeat="match in matches" id="{{match.id}}">
                <td class="width15">{{match.stadium.name}}</td>
                <td class="width20">{{match.home.name}}</td>
                 
                <td class="width5" id="{{match.id}}homeScore">{{match.homeScore}}</td>
                 
                <td class="width5" id="{{match.id}}awayScore">{{match.awayScore}}</td>
                <td class="width20">{{match.away.name}}</td>
                 
                <td class="width35" id="{{match.id}}event">{{match.event}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

