<link rel="stylesheet" href="assets/css/match.css"/>


<div class="animated fadeIn p-5">
  <div class="row">

    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <table class="table bg-white">

            <thead class="green">
              <tr>
                <th scope="col">{{HOME}}</th>
                <th scope="col" colspan="2">{{SCORE}}</th>
                <th scope="col">{{AWAY}}</th>
              </tr>
            </thead>

            <tbody>

              <tr ng-repeat="match in matches">
                <td>{{match.home.name}}</td>
                <td>{{match.homeScore}}</td>
                <td>{{match.awayScore}}</td>
                <td>{{match.away.name}}</td>
              </tr>

            </tbody>

          </table>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-body">

          <table class="table bg-white">

            <thead>
              <tr>
                <th scope="col">{{match.home.name}}</th>
                <th scope="col">{{match.homeScore}}x{{match.awayScore}}</th>
                <th scope="col">{{match.away.name}}</th>
              </tr>
            </thead>
          </table>

          <div class="container center">
            <h6>{{match.stadium.name}}</h6>
          </div>
          <p>{{GOALS}}</p>

          <table class="table">
            <tbody>
                  <tr ng-repeat="event in events">
                      <td ng-class="event.type == 'home' ? 'text-left' : 'text-right'">
                        {{event.description}}
                      </td>
                  </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
